<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='signup.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="outer">
        <div class="register-heading">
            <h1>Sign Up</h1>
        </div>

        <div class="register-signup">
            <form action="{{url_for('signup')}}" method="post" id="form">
                <input type="text" placeholder="First Name" id='first-name' name="firstname" required>
                <input type="text" placeholder="Last Name" id='last-name' name="lastname" required>
                <input type="text" placeholder="Email" id='email' name="email" required>
                <input type="password" placeholder="Password" id='pass' name="password" required>
                <input type="password" placeholder="Confirm Password" id='con-pass' name="con-password" required>
            </form>
        </div>

        <div class="register-button">
            <div class="terms">
                <input type="checkbox" id="terms-checkbox" required>
                <label for="terms-checkbox">I Agree <span style="color: rgb(0, 255, 221);">Terms & Conditions</span></label>
            </div>
            <button type="submit" onclick="document.getElementById('form').submit()">SIGN UP</button>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="messages"><p>** {{message}}</p></div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>